<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add connectionString ="workstation id=ReminderDB.mssql.somee.com;packet size=4096;user id=nadirmemmedov_SQLLogin_1;pwd=7pds46eiab;data source=ReminderDB.mssql.somee.com;persist security info=False;initial catalog=ReminderDB"/>
	</connectionStrings>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\ReminderApp.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
    </system.webServer>
  </location>
</configuration>
<!--ProjectGuid: 143261E8-C5A7-4E98-B318-54F42419AC4D-->